<<<<<<< Updated upstream
/*Index*/
.principal{
    text-align: center;
    padding: 20px;
    background-color: #780817;
    color: black;
}
table{
    margin: 0 auto;
}
/*Tablero*/
=======
.marco{
    position: fixed;
    bottom: 0;
    border: 1px solid black;

}
.tiempo{

}
.puntos{
    text-align: right;
    float: right;
}
>>>>>>> Stashed changes
