
/*Index*/
.principal{
    text-align: center;
    padding: 20px;
    background-color: #780817;
    color: black;
}
table{
    margin: 0 auto;
}
<<<<<<< HEAD

=======
>>>>>>> 98675a6f2fbca666dc93b564d3a9ca0eac524614
th{
    padding: 10px;
}
/*Tablero*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .contenido {
    flex: 1;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .marco {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .tiempo, .puntos {
    display: flex;
    flex-direction: column;
  }
  
